@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  html {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    position: relative;
    font-size: 1.125rem;
    color: white;
    margin: 0 auto;
    background-color: hsl(226, 43%, 10%);
  }
  @media screen and (min-width: "1024px") {
    body {
      margin: 0 7rem;
    }
  }
}

@layer components {
  .bg-work {
    background-position: 91% -6%;
  }

  .bg-play {
    background-position: 88% -3%;
  }

  .bg-study {
    background-position: 90.5% -4%;
  }

  .bg-exercise {
    background-position: 90% top;
  }

  .bg-social {
    background-position: 92% top;
  }

  .bg-self-care {
    background-position: 92% -6%;
  }

  .font-title {
    line-height: 1.3;
    letter-spacing: 0.02rem;
    font-size: clamp(1.5rem, 3vw, 2.3rem);
  }
  .font-hours {
    letter-spacing: -0.0375rem;
    font-size: 3.5625rem;
  }
  .heroinfo {
    padding: 2.5rem 1.31rem 3.75rem;
  }
}

@layer utilities {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
