@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  html {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    position: relative;
    font-size: 1.125rem;
    color: white;
  }
}

@layer components {
  .icon-work {
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: 91% -6%;
  }
}

@layer utilities {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
